.content{
	width: 960px;

}

.main{
	width: 650px;
	float:left;
	background-color: #ffffff;
	margin-left: 20px;

}

.sidebar{
	width: 270px;
	background-color: red;
	float:right;
}

h1{
	width: 300px;
	background-color: #4aaaa5;
	text-align: center;
	height: 75px;
	font-family: 'Georgia', Times, Times New Roman, Serif;
	color: white;
}


header{
	background-color: blue;
	border-color: #cccccc;
	float:left;
}

